streamlit
langchain-community
langchain-groq
langchain-chroma==0.1.3
langchain-huggingface
langchain-text-splitters
tiktoken
unstructured
unstructured[pdf]
python-dotenv
sentence-transformers
pysqlite3-binary
nltk
